* {
  box-sizing: border-box;
}

body {
  /* background-color: #ebebeb; */
  font-family: "Inter", sans-serif;
}
.slider-control-centerright {
  display: none;
}
.slider-control-centerleft {
  display: none;
}

.slider-frame {
  border-radius: 150px;
}
